## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import numpy as np
item= []
#import gmaps

# Import API key
#from config import g_key

# Configure gmaps API key
#gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Luderitz,NaN,-26.6481,15.1594,59.49,51,16,20.09,few clouds
1,1,Iqaluit,CA,63.7506,-68.5145,32.70,86,98,13.00,overcast clouds
2,2,Half Moon Bay,US,37.4636,-122.4286,76.19,62,40,1.01,scattered clouds

In [3]:
min=input('Enter your minimum temperature:')
max=input('Enter your maximum temperature:')
print(max)

Enter your minimum temperature:0
Enter your maximum temperature:60
60

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

city_data_df.loc[city_data_df["Max Temp"] > 60] = np.nan

city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0.0,Luderitz,NaN,-26.6481,15.1594,59.49,51.0,16.0,20.09,few clouds
1,1.0,Iqaluit,CA,63.7506,-68.5145,32.70,86.0,98.0,13.00,overcast clouds
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

df = city_data_df.dropna()
df.head(5)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1.0,Iqaluit,CA,63.7506,-68.5145,32.7,86.0,98.0,13.0,overcast clouds

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()


hotel_df.head()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

NameError: name 'clean_df' is not defined

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure